<h1>Tu as toujours révé d'envoyer un mail ??</h1>

<% @u = User.first %>

<input type="button" value="Envoyer un mail à <%= @u.email %>">


<%= javascript_tag do %> 

$(document).ready(function(){
    
        $( "input" ).click(function( event ) {
            
            <% UserMailer.welcome_email(@u).deliver %>
            alert("Mail envoyé !"); 
        });
    });

<% end %>
